html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;  
    width: 50%;  
}




.todo-container{
    width: 360px;   
}

#inputField{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}

.list-container{
    margin-top: 25px;
}



#add{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px ;
}

#checkbox{
    width: 15px;
    height: 46px;
    outline: none;
    vertical-align: middle;

}

/* following code was inspired by https://thecodingpie.medium.com/how-to-build-a-todo-list-app-with-javascript-and-local-storage-a884f4ea3ec */


/* getting rid of the bullet point on the side of the check box */
ul{
    list-style-type: none;
}

/* a line through the task after being checked */
.checked{
    text-decoration: line-through;
}
